In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("salary_data.csv")
features = len(df.columns)-1
print(features)
patterns = len(df)
print(patterns)
max = df['Salary'].max()
min = df['Salary'].min()
print("range of output:%d - %d" %(min, max))

In [ ]:
import sklearn.model_selection as model_selection

data = pd.read_csv("salary_data.csv")

x = data['YearsExperience']
y = data['Salary']

n = 0.1
for i in range(9):
  x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size=1-n)

  print("X =", round(n*100))
  print("Y =", round((1-n)*100))

  print ("TRAIN_x:")
  print(x_train)
  print ("\nTRAIN_y:")
  print(y_train)

  print("\nTEST_x:")
  print(x_test)
  print ("\nTEST_y:")
  print(y_test)
 
  n = n + 0.1

X = 10
Y = 90
TRAIN_x:
10     3.9
28    10.3
16     5.1
Name: YearsExperience, dtype: float64

TRAIN_y:
10     63218
28    122391
16     66029
Name: Salary, dtype: int64

TEST_x:
22     7.9
25     9.0
11     4.0
20     6.8
0      1.1
4      2.2
18     5.9
8      3.2
15     4.9
26     9.5
21     7.1
9      3.7
19     6.0
17     5.3
1      1.3
3      2.0
5      2.9
24     8.7
29    10.5
7      3.2
14     4.5
2      1.5
23     8.2
12     4.0
27     9.6
13     4.1
6      3.0
Name: YearsExperience, dtype: float64

TEST_y:
22    101302
25    105582
11     55794
20     91738
0      39343
4      39891
18     81363
8      64445
15     67938
26    116969
21     98273
9      57189
19     93940
17     83088
1      46205
3      43525
5      56642
24    109431
29    121872
7      54445
14     61111
2      37731
23    113812
12     56957
27    112635
13     57081
6      60150
Name: Salary, dtype: int64
X = 20
Y = 80
TRAIN_x:
7     3.2
12    4.0
0     1.1
6     3.0
11    4.0
23    8.2
Name: YearsExperience, dtype: float64

TRAIN_y:
7      54445
12     56957
0      39343
6      60150
11     55794
23    113812
Name: Salary, dtype: int64

TEST_x:
13     4.1
9      3.7
27     9.6
29    10.5
16     5.1
21     7.1
8      3.2
25     9.0
24     8.7
4      2.2
22     7.9
2      1.5
10     3.9
17     5.3
18     5.9
28    10.3
3      2.0
1      1.3
26     9.5
19     6.0
5      2.9
20     6.8
14     4.5
15     4.9
Name: YearsExperience, dtype: float64

TEST_y:
13     57081
9      57189
27    112635
29    121872
16     66029
21     98273
8      64445
25    105582
24    109431
4      39891
22    101302
2      37731
10     63218
17     83088
18     81363
28    122391
3      43525
1      46205
26    116969
19     93940
5      56642
20     91738
14     61111
15     67938
Name: Salary, dtype: int64
X = 30
Y = 70
TRAIN_x:
0      1.1
21     7.1
9      3.7
7      3.2
17     5.3
5      2.9
29    10.5
13     4.1
1      1.3
Name: YearsExperience, dtype: float64

TRAIN_y:
0      39343
21     98273
9      57189
7      54445
17     83088
5      56642
29    121872
13     57081
1      46205
Name: Salary, dtype: int64

TEST_x:
20     6.8
22     7.9
12     4.0
11     4.0
10     3.9
24     8.7
2      1.5
19     6.0
4      2.2
25     9.0
3      2.0
23     8.2
16     5.1
14     4.5
15     4.9
6      3.0
26     9.5
28    10.3
8      3.2
18     5.9
27     9.6
Name: YearsExperience, dtype: float64

TEST_y:
20     91738
22    101302
12     56957
11     55794
10     63218
24    109431
2      37731
19     93940
4      39891
25    105582
3      43525
23    113812
16     66029
14     61111
15     67938
6      60150
26    116969
28    122391
8      64445
18     81363
27    112635
Name: Salary, dtype: int64
X = 40
Y = 60
TRAIN_x:
24     8.7
15     4.9
17     5.3
4      2.2
26     9.5
5      2.9
18     5.9
20     6.8
27     9.6
7      3.2
29    10.5
11     4.0
Name: YearsExperience, dtype: float64

TRAIN_y:
24    109431
15     67938
17     83088
4      39891
26    116969
5      56642
18     81363
20     91738
27    112635
7      54445
29    121872
11     55794
Name: Salary, dtype: int64

TEST_x:
0      1.1
8      3.2
28    10.3
22     7.9
1      1.3
3      2.0
16     5.1
12     4.0
23     8.2
21     7.1
10     3.9
6      3.0
9      3.7
14     4.5
25     9.0
19     6.0
2      1.5
13     4.1
Name: YearsExperience, dtype: float64

TEST_y:
0      39343
8      64445
28    122391
22    101302
1      46205
3      43525
16     66029
12     56957
23    113812
21     98273
10     63218
6      60150
9      57189
14     61111
25    105582
19     93940
2      37731
13     57081
Name: Salary, dtype: int64
X = 50
Y = 50
TRAIN_x:
29    10.5
18     5.9
26     9.5
27     9.6
6      3.0
9      3.7
14     4.5
0      1.1
17     5.3
23     8.2
1      1.3
20     6.8
10     3.9
3      2.0
25     9.0
Name: YearsExperience, dtype: float64

TRAIN_y:
29    121872
18     81363
26    116969
27    112635
6      60150
9      57189
14     61111
0      39343
17     83088
23    113812
1      46205
20     91738
10     63218
3      43525
25    105582
Name: Salary, dtype: int64

TEST_x:
24     8.7
28    10.3
16     5.1
22     7.9
21     7.1
12     4.0
13     4.1
4      2.2
15     4.9
2      1.5
8      3.2
19     6.0
5      2.9
7      3.2
11     4.0
Name: YearsExperience, dtype: float64

TEST_y:
24    109431
28    122391
16     66029
22    101302
21     98273
12     56957
13     57081
4      39891
15     67938
2      37731
8      64445
19     93940
5      56642
7      54445
11     55794
Name: Salary, dtype: int64
X = 60
Y = 40
TRAIN_x:
20    6.8
5     2.9
2     1.5
23    8.2
17    5.3
11    4.0
0     1.1
9     3.7
8     3.2
10    3.9
24    8.7
22    7.9
18    5.9
25    9.0
1     1.3
7     3.2
19    6.0
6     3.0
Name: YearsExperience, dtype: float64

TRAIN_y:
20     91738
5      56642
2      37731
23    113812
17     83088
11     55794
0      39343
9      57189
8      64445
10     63218
24    109431
22    101302
18     81363
25    105582
1      46205
7      54445
19     93940
6      60150
Name: Salary, dtype: int64

TEST_x:
16     5.1
15     4.9
21     7.1
29    10.5
4      2.2
28    10.3
13     4.1
12     4.0
26     9.5
3      2.0
27     9.6
14     4.5
Name: YearsExperience, dtype: float64

TEST_y:
16     66029
15     67938
21     98273
29    121872
4      39891
28    122391
13     57081
12     56957
26    116969
3      43525
27    112635
14     61111
Name: Salary, dtype: int64
X = 70
Y = 30
TRAIN_x:
12    4.0
17    5.3
1     1.3
13    4.1
10    3.9
27    9.6
16    5.1
8     3.2
25    9.0
6     3.0
19    6.0
14    4.5
5     2.9
0     1.1
9     3.7
20    6.8
3     2.0
18    5.9
21    7.1
24    8.7
Name: YearsExperience, dtype: float64

TRAIN_y:
12     56957
17     83088
1      46205
13     57081
10     63218
27    112635
16     66029
8      64445
25    105582
6      60150
19     93940
14     61111
5      56642
0      39343
9      57189
20     91738
3      43525
18     81363
21     98273
24    109431
Name: Salary, dtype: int64

TEST_x:
15     4.9
4      2.2
7      3.2
23     8.2
22     7.9
26     9.5
29    10.5
11     4.0
28    10.3
2      1.5
Name: YearsExperience, dtype: float64

TEST_y:
15     67938
4      39891
7      54445
23    113812
22    101302
26    116969
29    121872
11     55794
28    122391
2      37731
Name: Salary, dtype: int64
X = 80
Y = 20
TRAIN_x:
15     4.9
10     3.9
26     9.5
14     4.5
16     5.1
12     4.0
11     4.0
24     8.7
2      1.5
3      2.0
27     9.6
21     7.1
19     6.0
20     6.8
8      3.2
23     8.2
6      3.0
18     5.9
29    10.5
5      2.9
7      3.2
17     5.3
13     4.1
Name: YearsExperience, dtype: float64

TRAIN_y:
15     67938
10     63218
26    116969
14     61111
16     66029
12     56957
11     55794
24    109431
2      37731
3      43525
27    112635
21     98273
19     93940
20     91738
8      64445
23    113812
6      60150
18     81363
29    121872
5      56642
7      54445
17     83088
13     57081
Name: Salary, dtype: int64

TEST_x:
0      1.1
28    10.3
25     9.0
4      2.2
1      1.3
9      3.7
22     7.9
Name: YearsExperience, dtype: float64

TEST_y:
0      39343
28    122391
25    105582
4      39891
1      46205
9      57189
22    101302
Name: Salary, dtype: int64
X = 90
Y = 10
TRAIN_x:
23     8.2
29    10.5
8      3.2
3      2.0
13     4.1
26     9.5
5      2.9
4      2.2
25     9.0
21     7.1
2      1.5
1      1.3
24     8.7
17     5.3
10     3.9
7      3.2
15     4.9
11     4.0
19     6.0
20     6.8
9      3.7
0      1.1
28    10.3
18     5.9
14     4.5
6      3.0
Name: YearsExperience, dtype: float64

TRAIN_y:
23    113812
29    121872
8      64445
3      43525
13     57081
26    116969
5      56642
4      39891
25    105582
21     98273
2      37731
1      46205
24    109431
17     83088
10     63218
7      54445
15     67938
11     55794
19     93940
20     91738
9      57189
0      39343
28    122391
18     81363
14     61111
6      60150
Name: Salary, dtype: int64

TEST_x:
16    5.1
22    7.9
27    9.6
12    4.0
Name: YearsExperience, dtype: float64

TEST_y:
16     66029
22    101302
27    112635
12     56957
Name: Salary, dtype: int64

In [ ]:
#overall
x = data['YearsExperience']
d = data['Salary']
overall = x + d
print("Mean:",overall.mean())
print("Median:",overall.median())
print("Mode:",overall.mode())
print("Standard Deviation:",overall.std())

In [ ]:

print("Mean is: ")
print(df.mean(axis=1))

print("Median is: ")
print(df.median(axis=1))

print("Mode is: ")
print(df.mode(axis=1))

print("Standard deviation is: ")
print(df.std(axis=1))

In [ ]:
#colunm wise
print("Mean is: ")
print(df.mean(axis=0))

print("Median is: ")
print(df.median(axis=0))

print("Mode is: ")
print(df.mode(axis=0))

print("Standard deviation is: ")
print(df.std(axis=0))

In [ ]:
 
df = pd.read_csv("salary_data.csv")

x = data['YearsExperience']
d = data['Salary']

data['y'] = x**2
y = data['y']

data['squares'] = (y - d) ** 2
squares = data['squares']

np.sum(squares)